{% load staticfiles %}

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'HomepageStylesheet.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script src="{% static 'HomepageJavascript.js' %}"></script>

    <script src="https://use.fontawesome.com/3d8797fe11.js"></script>

</head>
<nav class="navbar navbar-inverse">
	<div class="navbar-header">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/optimizer">Plant Optimizer</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<body>

    <div class="containter-fluid center-form well">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sollicitudin sagittis tincidunt. Mauris at nulla sagittis, porttitor justo in, hendrerit dolor. Donec sodales, leo nec dictum tempor, lorem elit blandit dolor, nec posuere est lorem sit amet dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus magna erat, dapibus eget hendrerit at, auctor vel tortor. Fusce magna ipsum, dictum in justo in, molestie congue turpis. Praesent volutpat magna vitae enim tincidunt, ut maximus mi ornare. Pellentesque tincidunt nisi quis elit lacinia dapibus.</p>

        <p>Donec a nisl ut turpis viverra pellentesque. Etiam bibendum dolor mi. Donec pretium venenatis turpis eget semper. In hac habitasse platea dictumst. Phasellus condimentum eu massa sit amet pharetra. Aenean blandit at ex luctus suscipit. Duis tincidunt tincidunt ultricies. Nunc ac elementum mi, quis faucibus diam. Donec placerat convallis sapien sit amet suscipit. Curabitur at maximus est. Proin nibh felis, imperdiet ut dictum sit amet, vulputate eu ligula. Sed sed arcu diam.</p>

        <p>Mauris id augue scelerisque, rutrum ipsum sed, pulvinar nulla. Sed eleifend lacus tortor, in iaculis neque pellentesque ac. Suspendisse lacinia ante magna, ac pulvinar mauris euismod at. Sed blandit semper lorem. Sed rhoncus orci id justo blandit faucibus. In erat nisi, malesuada non orci eget, gravida pulvinar ex. Pellentesque vel vulputate elit, at cursus velit. Pellentesque nisi purus, egestas ut nulla et, facilisis venenatis nibh. Suspendisse auctor fermentum sem ac fringilla. Proin sit amet pellentesque massa. Phasellus ornare scelerisque eros eget efficitur. Duis lectus tellus, convallis sed sapien in, efficitur eleifend diam. Aenean elementum, enim ac porttitor convallis, diam mauris auctor ligula, ut luctus arcu orci luctus magna. Vestibulum lacinia ultricies facilisis. In vehicula auctor venenatis. Etiam pulvinar odio purus, sed feugiat erat consequat at.</p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut velit ante, elementum a placerat a, sodales sit amet ex. Curabitur ullamcorper libero sed nisl ornare sagittis at sit amet libero. Nulla facilisi. Proin laoreet ligula eros, eget pharetra metus rhoncus vitae. Praesent mattis, elit ac dignissim eleifend, nibh nunc blandit orci, et euismod lectus arcu at orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

        <p>Praesent quis volutpat est, vel elementum elit. Mauris non purus arcu. Sed condimentum cursus justo sed ornare. Mauris quis sem non arcu tempus lacinia nec a nisl. Pellentesque ex diam, lobortis id neque eget, commodo suscipit nisi. Maecenas dapibus lacinia enim in congue. Aliquam a pharetra tellus. Nam ut iaculis urna. Proin euismod nisl non est hendrerit, non vehicula ex convallis. In odio leo, placerat sit amet tortor quis, porta auctor lorem. Nulla vestibulum tellus ut felis fermentum bibendum. Maecenas viverra rutrum consequat. Duis at eros ipsum. Maecenas convallis vel massa eget sollicitudin.</p>

        <p>Donec cursus lacinia facilisis. Pellentesque nec consequat ex, nec posuere risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis tortor in elit auctor, a sollicitudin felis aliquam. Maecenas vel pretium enim. Pellentesque rhoncus scelerisque pharetra. Nulla facilisi.</p>

        <p>Duis ultricies vel urna quis eleifend. Nam finibus nibh ut odio mattis ullamcorper. Morbi fringilla nibh mi, sit amet auctor lorem ornare a. Nulla finibus tincidunt mattis. Pellentesque vitae lacus mauris. Etiam dapibus turpis lobortis sodales lacinia. Donec vel eros fringilla, consequat dolor in, tempor tortor. Mauris sodales justo et placerat lobortis. Nam bibendum mauris sem, sed imperdiet urna faucibus sit amet. Aenean eu urna eu libero vulputate venenatis. Donec mattis imperdiet est, ac feugiat sem consectetur eu. Donec pharetra cursus urna in rutrum. Vestibulum dictum, nulla porta varius malesuada, lectus nibh porttitor augue, eu efficitur elit ligula a diam.</p>
    </div>
</body>
