{% load staticfiles %}

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'OptimizerStylesheet.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script src="{% static 'OptimizerJavascript.js' %}"></script>

    <script src="https://use.fontawesome.com/3d8797fe11.js"></script>

</head>
<nav class="navbar navbar-inverse">
	<div class="navbar-header">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li class="active"><a href="#">Plant Optimizer</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<body>
    <div class="center-form well text-center">
        <form action="/displayresult" method="post">
            {% csrf_token %}

          <div id="number-type-inputform">

              <div id="input-group-1" class="inputs">
                  <div class="input-group fade in" >
                      <span class="input-group-addon">I need </span>
                      <input type="number" name="number-input-1" value="1" min = "1" class="form-control">
                      <span class="input-group-addon"> plant(s) of type </span>
                      <select class="form-control" name="type-input-1">
                          {% for plant_type in plant_types %}
                          <option>{{plant_type}}</option>
                          {% endfor %}
                      </select>
                      <span class="input-group-addon"> that should be at least </span>
                      <select class="form-control" name="salt-tolerance-input-1" value="No preference">
                          <option>Tolerant</option>
                          <option>L. Tolerant</option>
                          <option>M. Tolerant</option>
                          <option selected="selected">No preference</option>
                      </select>
                      <span class="input-group-addon"> to salt</span>
                      <span class="input-group-btn" id="plusbutton">
                          <button class="btn btn-success addbtn" type="button">
                              +
                          </button>
                      </span>
              		</div>
                  	<div class="input-group">
						<span class="input-group-addon"> and at least </span>
                        <select class="form-control" name="drought-tolerance-input-1">
                          <option>Tolerant</option>
                          <option>L. Tolerant</option>
                          <option>M. Tolerant</option>
                          <option selected="selected">No preference</option>
                        </select>
                        <span class="input-group-addon">to droughts, with a min spread of at least </span>
						<input type="number" name="min-spread-input-1" value="0" class="form-control">
						<span class="input-group-addon"> meters,</span>
                    </div>
                    <div class="input-group">
                    	<span class="input-group-addon">meters, a min height of at least </span>
                        <input type="number" name="min-height-input-1" value="0" class="form-control">
                        <span class="input-group-addon">meters, and min roots of at least</span>
                        <input type="number" class="form-control" value="0" name="min-roots-input-1">
                        <span class="input-group-addon">meters.</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"> and that bloom in</span>
					    <span class="input-group-addon">
							<input type="checkbox" name="blooms-in-jan-input-1"> January
                            <input type="checkbox" name="blooms-in-feb-input-1"> February
                            <input type="checkbox" name="blooms-in-mar-input-1"> March
                            <input type="checkbox" name="blooms-in-apr-input-1"> April
                            <input type="checkbox" name="blooms-in-may-input-1"> May
                            <input type="checkbox" name="blooms-in-jun-input-1"> June
                            <input type="checkbox" name="blooms-in-jul-input-1"> July
                            <input type="checkbox" name="blooms-in-aug-input-1"> August
                            <input type="checkbox" name="blooms-in-sep-input-1"> September
                            <input type="checkbox" name="blooms-in-oct-input-1"> October
                            <input type="checkbox" name="blooms-in-nov-input-1"> November
                            <input type="checkbox" name="blooms-in-dec-input-1"> December
						</span>
                    </div>
              </div>

            </div>
            <div class="input-group">
                <span class="input-group-addon">And my water consumption should not exceed</span>
                <input type="number" value="1000" name="max-water-consumption" class="form-control">
            </div>

            <input class="hidden" id="numRows" name="num-rows" value="1">

            <input type="submit" value="Solve!" class="btn btn-default">
        </form>
        <form action="/" method="post">
            {% csrf_token %}
            <input type="submit" class = "update-button btn btn-danger" value = "UpdateDB">
        </form>
    </div>

    <span class="input-group-btn removebtn hidden" id="delbutton">
        <button class="btn btn-danger" type="button" id="del-btn-1">x</button>
    </span>


</body>
